footer.footer 
  .footer__wrapper
    .footer__item1 
      img(alt="" src="../images/logo-white.svg")
      .footer__socialIcons 
        img(alt="fb icon" src="../images/icon-facebook.svg")
        img(alt="yt icon" src="../images/icon-youtube.svg")
        img(alt="twitter icon" src="../images/icon-twitter.svg")
        img(alt="pinterest icon" src="../images/icon-pinterest.svg")
        img(alt="instagram icon" src="../images/icon-instagram.svg")
    ul.footer__item2 
      li
        a(href="#") About Us 
      li
        a(href="#") Contact 
      li
        a(href="#") Blog 
      li
        a(href="#") Carrers 
      li
        a(href="#") Support 
      li
        a(href="#") Privacy Policy 

    .footer__item3 
      a.cta.large.u-mt-large(href="#") Request Invite
      p © Easybank. All Rights Reserved
  .footer__credit
    span Challenge by 
    a(href="https://www.frontendmentor.io?ref=challenge" target="_blank") Frontend Mentor. 
    span Coded by 
    a(href="#") Prabhash Ranjan.

